.clientsTestimonyParent {
    margin-top: 260px;
}

.CTHeading {
    position: relative;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #FE6D3F;
}

.imagesOverlappingDiv {
    text-align: center;
    position: relative;
    margin-top: 80px;
}

.image2 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.image3 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.playButton {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
}